{% extends 'my_system/index.html' %}
{% load static %}
{% block title %}Complaints{% endblock %}
{% block head %}
    <style>
        .complaint {
            background-image: url("{% static 'my_system/images/complaintsBG.jpg' %}");
            background-position: center center;
            background-repeat: no-repeat;
        }

        form {
            background-color: white;
            padding: 10px;
            margin-bottom: 20px;
            margin-top: 20px;
            border-radius: 10px;
            opacity: 0.9;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="complaint">
        <div class="container" style=" padding: 4px;border-radius: 20px;">


            <div class="row">
                <div class="col"></div>
                <div class="col-lg-10">
                    <form>
                        <div>
                            <h2 style="text-align: center;margin:30px; font-family: 'Roboto Slab', serif;">Please fill
                                in the details below <br>to register your complaint</h2>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="FirstName">First Name</label>
                                <input type="text" class="form-control" id="FirstName" name="firstName"
                                       placeholder="First Name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="LastName">Last Name</label>
                                <input type="text" class="form-control" id="LastName" name="lastName"
                                       placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" id="Email" name="email"
                                       placeholder="Email" required>
                            </div>



                            <div class="form-group col-md-6">
                                <label for="mnumber">Mobile Number</label>
                                <input type="text" class="form-control" id="mnumber" name="mobileNumber"
                                       placeholder="Mobile Number" pattern="[0-9]{10}"
                                       title="Enter a valid mobile number." required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="TrainNumber">Train Number</label>
                                <input type="text" class="form-control" id="TrainNumber" name="trainNumber"
                                       placeholder="Train Number" required>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="PNRNumber">PNR Number</label>
                                <input type="text" class="form-control" id="PNRNumber" name="pnrNumber"
                                       placeholder="PNR Number" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="BoardingStation">Boarding Station</label>
                                <input type="text" class="form-control" id="BoardingStation" name="boardingStation"
                                       placeholder="Boarding Station" required>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="DestinationStation">Destination Station</label>
                                <input type="text" class="form-control" id="DestinationStation"
                                       name="destinationStation" placeholder="Destination Station" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="Complaint">Your Complaint</label>
                                <textarea type="text" class="form-control" id="Complaint" name="complaint"
                                          placeholder="Your Complaint" required></textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary" style="margin-bottom: 2rem;">Submit</button>
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
{% endblock %}